# (SRG-style) names

protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal f_25283_
protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal f_25284_
protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal f_25288_
protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal f_25287_
protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal f_25286_
protected net.minecraft.world.entity.ai.goal.FollowOwnerGoal m_25313_()V

public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_86600_()V

protected net.minecraft.client.gui.components.Checkbox f_93822_

public net.minecraft.world.entity.npc.VillagerTrades$EmeraldForItems
public net.minecraft.world.entity.npc.VillagerTrades$EnchantBookForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$EnchantedItemForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$ItemsAndEmeraldsToItems
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds

protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35734_
protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35735_
protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35736_
protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35737_
protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35738_
protected net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds f_35739_